@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&family=Crete+Round:ital@0;1&family=Inter:wght@100');


*, *::before, *::after{
    padding: 0;
    margin: 0;
    font-family: "Balsamiq Sans", sans-serif;
    box-sizing: border-box;
    outline: none;
    list-style-type: none;
    text-decoration: none;
}

.nav-container {
    background-color: #FFFFFF;
    height: 84px;
    width: 100vh;
    background-attachment: fixed;
}
#first-img {
    width: 124px;
    height: 36.42px;
    float: left;
    position: relative;
    left: 2rem;
    top: 1rem;
}

.nav-container ul {
    position: absolute;
    display: flex;
    left: 38rem;
    top: 18px;
    gap: 30px;
}

a {
    position: relative;
    color: rgba(104, 48, 0, 0.32);
    letter-spacing: 0.5px;
    padding: 0px 10px;
    
}

a::after {
    content: "";
    position: absolute;
    background-color: #6CBC60;
    height: 3px;
    width:0;
    left: 0;
    bottom: -10px;
    transition: all 0.3s;
}
a:hover:after {
    width: 100%;
}
.active,a:hover {
    color: #683000;
}

#check {
    display: none;
}
.check-box {
    display: none;
    font-size: 28px;
    color: #683000;

}
.progress {
    float: left;
    position: relative;
    left: 56px;
    top: 132px;
}

.progress h1 {
    font-size: 60px;
    color: #FFFFFF;
    line-height: 40px;
    line-height: 149%;


}
.progress span {
    color: #6CBC60;
}
#hero-section {
    background-image: url("/image/pexels-valeria-boltneva-827518.jpg");
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.8);
    height: 788px;
}

.progress p {
    font-size: 20px;
    color: #FFFFFF;
    line-height: 40px;
    line-height: 139%;
    padding-top: 50px;
    font-weight: 100;
}

#button-btn-1 {
    font-size: 15px;
    color: #FFFFFF;
    padding: 24px 45px 24px 45px;
    background-color: #6CBC60;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
}
#button-btn-1:hover {
    background-color: transparent;
    border-color: #6CBC60;
    

}

#button-btn-2 {
    font-size: 15px;
    color: #FFFFFF;
    padding: 24px 30px 24px 30px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 8px;
    cursor: pointer;
}
#button-btn-2:hover {
    border-color: #6CBC60;
}
.contain-btn {
    display: flex;
    gap: 10px;
    position: relative;
    top: 70px;
}
#hero-image {
    position: relative;
    float: right;
    top: 8rem;
    right: 6rem;
}




/* second-section styling start from here 
hbuydfgjxgyudxkjnfdkhgrcjyhnxfuyhgeuyxrdfhgskdf
hushkjfgryfghkuse*/

#second-section {
    background-color: #F5E7E1;
    height: 880px;
    width: 100%;
    
}
.content {
    position: relative;
    padding-left: 56px;
    top: 146px;
}
.content h1 {
    font-size: 38px;
    color: #C57B57;
    letter-spacing: 2px;
}
.content span {
    color: #6CBC60;
}

.content p {
    color: #666666;
    font-size: 17px;
    line-height: 32px;
    line-height: 133%;
    padding-top: 20px;

}

#second-image {
    width: 347.69px;
    height: 340.49px;
    border-bottom-left-radius: 89.2px;
    border-bottom-right-radius: 89.2px;
    
}
#third-image {
    width: 305.51px;
    height: 330.2px;
    border-top-left-radius: 89.2px;
    border-top-right-radius: 89.2px;
    margin-top: -17rem;
}

#forth-image {
    width: 263.34px;
    height: 261.24px;
    border-bottom-left-radius: 89.2px;
    border-bottom-right-radius: 89.2px;
    margin-top: 3.500rem;
}
.content-2 {
    display: flex;
    position: relative;
    float: right;
    padding-right: 3rem;
    top: 18rem;
}
#img-1 {
    width: 258.35px;
    height: 66.74px;
    position: absolute;
    left: -10rem;
    top: 45px;
}

#img-3 {
    width: 258.35px;
    height: 66.74px;
    position: absolute;
    right: 15rem;
    top: 10rem;
    
}

/* this is where it ends */



/* this is where the the third-section start from */
#third-section {
    background-color: #FBFBFB;
    height: 888px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 187px;
}
#fifth-image {
    width: 472px;
    height: 472px;
    border-radius: 50%;
    border: 1px solid rgba(102, 47, 0, 0.24);
    padding:60px 60px 60px 60px ;
}
#img2 {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    position: relative;
    top: -10rem;
    
}
#img3 {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    position: relative;
    top: -31rem;
    left: 10rem;
    
    
}
#img4 {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    position: relative;
    left: 20rem;
    top: -10rem;
    
}
/* .border-img {
    position: absolute;
    top: 124rem;
    left: 10rem;
    
} */
.success h1 {
    font-size: 40px;
    color: #C57B57;
    line-height: 72px;
    line-height: 125%;
    text-align: left;
}

.success h1 span {
    color: #6CBC60;
}
.success p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    padding-top: 16px;
}
.steps-class {
    padding-top: 40px;
}
.steps-class h4 {
    color: #111111;
    font-size: 22px;
    font-style: bold;
    text-align: left;

}

.steps-class p span {
    color: #666666;
    font-size: 18px;
}
.steps-class p span::before{
    content: url("/image/Ellipse\ 110.png");
}

.steps-class p {
    display: flex;
    gap: 30px;
    padding-top: 30px;
}
#button-btn-3 {
    font-size: 15px;
    color: #FFFFFF;
    padding: 24px 50px 24px 50px;
    background-color: #6CBC60;
    border: 1px solid white;
    border-radius: 8px;
    cursor: pointer;
    
}


#button-btn-3:hover {
    border-color: #6CBC60;
    background-color: transparent;
    color: #6CBC60;
}

.contain-btn-1 {
    display: flex;
    position: relative;
    top: 60px;
    
}
/* this is where it ends  */





/* this is where the styling for forth-section start from the part 
in the browser that says besst 
seller */

#forth-section {
    background-color: #E8F4E6;
    height: 972px;
    width: 100%;
}

.text-class h1 {
    color: #C57B57;
    font-size: 40px;
    font-size: bold;
    padding-left: 50px;
}

.text-class p {
    color: #111111;
    font-size: 22px;
    font-style: Semibold;
    Font-family: 'Work Sans' sans-serif;
    padding-right: 50px;
}
.text-class p span {
    color: #A0A89F;
}

.text-class {
    display: flex;
    justify-content: space-between;
    padding-top: 92px;
}
.father {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.vance {
    background-image: url("/image/pexels-pixabay-46974.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 356px;
    height: 550px;
    border-radius: 8px;
}
#button-btn-4 {
    background-color: #6CBC60;
    padding: 12px 18px 12px 18px;
    color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 4px;
}

.vance div {
    display: flex;
    gap: 7rem;
    justify-content: space-around;
    position: relative;
    top: 26rem;
}
.vance h1 {
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    line-height: 32px;
    line-height: 136%;
    font-family: "work sans", sans-serif;
    padding-top: 20px;
    padding-left: 20px;
}

.vance span {
    color: #0C090A;
    font-style: bold;
    font-size: 30px;
    line-height: 42px;
    line-height: 125%;
    font-family: "Balsamiq sans", sans-serif;
}
.Rueggs {
    background-image: url("/image/pexels-irina-iriser-673857.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 356px;
    height: 550px;
    border-radius: 8px;
}
.Rueggs div {
    display: flex;
    gap: 7rem;
    justify-content: space-around;
    position: relative;
    top: 26rem;
}
.Rueggs h1 {
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    line-height: 32px;
    line-height: 136%;
    font-family: "work sans", sans-serif;
    padding-top: 20px;
    padding-left: 20px;
}

.Rueggs span {
    color: #0C090A;
    font-style: bold;
    font-size: 30px;
    line-height: 42px;
    line-height: 125%;
    font-family: "Balsamiq sans", sans-serif;
}

.Corte {
    background-image: url("/image/pexels-singkham-1108572.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 356px;
    height: 550px;
    border-radius: 8px;
}
.Corte div {
    display: flex;
    gap: 7rem;
    justify-content: space-around;
    position: relative;
    top: 26rem;
}
.Corte h1 {
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    line-height: 32px;
    line-height: 136%;
    font-family: "work sans", sans-serif;
    padding-top: 20px;
    padding-left: 20px;
}

.Corte span {
    color: #0C090A;
    font-style: bold;
    font-size: 30px;
    line-height: 42px;
    line-height: 125%;
    font-family: "Balsamiq sans", sans-serif;
}

.images-05 {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    gap: 1rem;
    overflow-y: scroll;
}
#line-1 {
    color: #6CBC60;
    width: 479px;
    height: 2px;
    margin-top: 25px;
}

#button-btn-5 {
    background-color: transparent;
    border: 1px solid #6CBC60;
    padding: 15px 22px 15px 22px;
    color:  #6CBC60;
    border-radius: 8px;
}

.line-part {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 7rem;
}

/* this is where forth-section end 

/* this is the beginning of the fifth-section that contain six images */

#fifth-section {
    background-color: #FBFBFB;
    height: 1540px;
    width: 100%;
}

#fifth-section h1 {
    color: #C57B57;
    font-size: 40px;
    font-style: bold;
    line-height: 72px;
    line-height: 125%;
    text-align: center;
}
#fifth-section span {
    color: #6CBC60;
}
.fifth {
    margin-top: 10rem;text-align: center;
}

#fifth-section p {
    color: #666666;
    margin-top: 16px;
    font-size: 16px;
    font-style: regular;
    font-family: "balsamiq sans", sans-serif;
    line-height: 32px;
    line-height: 148%;
    vertical-align: top;
    text-align: center;
}

.image-peck-1 h3 {
    font-size: 30px;
    color: #FFFFFF;
    font-family: "balsamiq sans", sans-serif;
    position: relative;
    top: 26rem;
    text-align: center;
}
.image-peck-1 {
    background-image: url("/image/pexels-ceciÃÅlia-o-tommasini-904621.jpg");
    background-size: cover;
    width: 325px;
    height: 468px;
    background-blend-mode: darken;
    background-color: rgba(58, 140, 67, 0.13);
    border-radius: 8px;
    box-shadow: 2px 2px 7px 2px black;
}
.image-peck-2 {
    background-image: url("/image/pexels-anna-shvets-3771640.jpg");
    background-size: cover;
    width: 325px;
    height: 468px;
    background-blend-mode: darken;
    background-color: rgba(58, 140, 67, 0.15);
    border-radius: 8px;
    box-shadow: 2px 2px 7px 2px black;
    margin-top: 63px;
    
}
.image-peck-3 {
    background-image: url("/image/pexels-anthony-133079.jpg");
    background-size: cover;
    width: 325px;
    height: 468px;
    background-blend-mode: darken;
    background-color: rgba(58, 140, 67, 0.15);
    border-radius: 8px;
    box-shadow: 2px 2px 7px 2px black;
}
.image-peck-4 {
    background-image: url("/image/pexels-karolina-grabowska-4202323.jpg");
    background-size: cover;
    width: 325px;
    height: 468px;
    background-blend-mode: darken;
    background-color: rgba(58, 140, 67, 0.15);
    border-radius: 8px;
    box-shadow: 2px 2px 7px 2px black;    
}
.image-peck-5 {
    background-image: url("/image/pexels-markus-spiske-131772.jpg");
    background-size: cover;
    width: 325px;
    height: 468px;
    background-blend-mode: darken;
    background-color: rgba(58, 140, 67, 0.15);
    border-radius: 8px;
    box-shadow: 2px 2px 7px 2px black;
    margin-top: 63px;
}
.image-peck-6 {
    background-image: url("/image/pexels-valeria-boltneva-827518.jpg");
    background-size: cover;
    width: 325px;
    height: 468px;
    background-blend-mode: darken;
    background-color: rgba(58, 140, 67, 0.15);
    border-radius: 8px;
    box-shadow: 2px 2px 7px 2px black;
}
.image-peck-2 h3 {
    font-size: 30px;
    color: #FFFFFF;
    font-family: "balsamiq sans", sans-serif;
    position: relative;
    top: 26rem;
    text-align: center;
}
.image-peck-3 h3 {
    font-size: 30px;
    color: #FFFFFF;
    font-family: "balsamiq sans", sans-serif;
    position: relative;
    top: 26rem;
    text-align: center;
}
.image-peck-4 h3 {
    font-size: 30px;
    color: #FFFFFF;
    font-family: "balsamiq sans", sans-serif;
    position: relative;
    top: 26rem;
    text-align: center;
}
.image-peck-5 h3 {
    font-size: 30px;
    color: #FFFFFF;
    font-family: "balsamiq sans", sans-serif;
    position: relative;
    top: 26rem;
    text-align: center;
}
.image-peck-6 h3 {
    font-size: 30px;
    color: #FFFFFF;
    font-family: "balsamiq sans", sans-serif;
    position: relative;
    top: 26rem;
    text-align: center;
}
.image-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 22rem);
    grid-template-rows: minmax(2rem, 30rem);
    margin-top: 6rem;
}
/*this is where fifth-section ends */

/* this is where the six section styling start from the place that contain three cards */

.sixth-section {
    background-color: #F5E7E1;
    width: 100%;
    height: 1087px;
}

.sixth-section-first-div h1 {
    color: #6CBC60;
    font-size: 40px;
    font-family: "balsamiq sans", sans-serif;
    font-style: bold;
}
.sixth-section-first-div h1 span {
    color: #C57B57;
}

.sixth-section-first-div p {
    color: #666666;
    font-size: 18px;
    line-height: 32px;
    line-height: 133%;
    font-style: regular;
    text-align: left;
}
.sixth-section-first-div  {
    display: flex;
    justify-content: space-around;
}
.sixth-section-first-div div {
    padding-top: 4rem;
}

.card {
    background-color: #FFFFFF;
    width: 400px;
    height: 468px;
    border-radius: 8px;
    transition: all 0.3s;
}
.card:hover {
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2);
}

#card-image {
    width: 400px;
    height: 262px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.containers h1 {
    font-size: 18px;
    font-style: Regular;
    font-family: "balsamiq", sans-serif;
    color: #333333;
    line-height: 48px;
    line-height: 167%;
    font-weight: 200;
}

.containers {
    padding-top: 40px;
    padding-left: 20px;
}

.sixth-section .three-image {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.line-1 {
    color: #C57B57;
    width: 479px;
    height: 1px;

}
.button-btn {
    padding: 15px 23px 15px 23px;
    background-color: transparent;
    color: #C57B57;
    font-style: bold;
    font-size: 15px;
    font-family: "work sans", sans-serif;
    border: 1px solid #C57B57;
    border-radius: 8px;
    margin-top: -20px;
}
.line-3 {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 8rem;
}
/* this is where it ends */

/* this is where the styling for the seventh-section start from */

#seventh-section {
    background-color: #FBFBFB;
    height: 1440px;
    width: 100%;
}
.squeal-1 h1 {
    font-size: 40px;
    color: #C57B57;
    font-family: "balsamiq sans", sans-serif;
    font-style: bold;
}

.squeal-1 span {
    color: #6CBC60;
}

.squeal-1 p {
    font-size: 16px;
    color: #666666;
    line-height: 32px;
    line-height: 148%;
    font-family: "balsamiq sans", sans-serif;
    padding-top: 10px;
}
.squeal #img {
    width: 234px;
    height: 195px;
    margin-top: -70px;
}
.squeal {
    display: flex;
    justify-content: space-around;
    padding-top: 10rem;
} 

.card-2 {
    background-color: transparent;
    width: 400px;
    height: 468px;
    border-radius: 8px;
    transition: all 0.3s;
}
.card-2:hover {
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2);
}
    
.triangle{
    margin-top: 2rem;
    margin-left: 2rem;

}

.triangle  hr {
    color: #C57B57;
    width: 360px;
    height: 1px;
}

.triangle h1 {
    color: #6CBC60;
    padding-top: 1rem;
    font-size: 22px;
    font-family: "balsamiq sans", sans-serif;
    line-height: 32px;
    line-height: 111%;
    text-align: left;
}

.triangle p {
    font-size: 12px;
    color: #666666;
    font-family: "balsamiq sans", sans-serif;
    padding-top: 15px;

}

.last-last {
    display: flex;
    justify-content: center;
    gap: 20px;

    margin-top: 10rem;
}







